* {
    box-sizing: border-box;
}

:root {
    --darkblue: rgb(23, 23, 78);
    --yellow: rgba(231, 231, 14, 0.973);
    --text: white;
}


body {
    background-color: var(--darkblue);
    color: var(--text);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2;
}

header {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    background-color: var(--yellow);
    border-style:outset;
    border-color: var(--darkblue);
    border-radius: 20px;
    border-width: 10px;
}

header h1 {
    text-indent: 50px;
    font-style: arial;
    font-size: 50px;
    background-color: var(--darkblue);
    border-right:20px;
    padding: 10px 50px 10px 100px;
    
    
}

nav {
    display: flex;
    flex-wrap:wrap;
    padding: 10px 50px 10px 100px;
    justify-content: space-between;
    color:white;
    font-weight: bolder;
}

nav a {
    padding: 10px;
    margin: 0;
    font-size: 30px;
    line-height: 1;
}

nav a:hover {
    background-size: 100px 100px;
    color:var(--darkblue);
}

.hero-banner {
    color: var(--yellow);
    display: flex;
    flex-wrap:wrap;
    justify-content:end;
    margin-right: 0px;
    background-image: url(../images/waluigi.webp);
    background-size:cover;
    background-position:center;
    min-height: 25vh;
}

.hero-banner h2 {
    padding: 15px;
    background-color: var(--yellow);
    color:var(--darkblue);
    display: flex;
    flex-wrap: wrap;
    margin: 220px 10px 20px 0px;
    border-style:outset;
    border-color: var(--darkblue);
    border-radius: 20px;
    border-width: 10px;
}

h2 {
    font-style:italic;
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    
}

.page-wrapper {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.about-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: space-between;
}

.about-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--darkblue);
    font-size: 4vw;
    line-height: 1.1;
}

