* {
    box-sizing: border-box;
}

:root {
    --darkblue: rgb(23, 23, 78);
    --yellow: rgba(231, 184, 14, 0.973);
    --text: white;
}


body {
    background: linear-gradient(180deg, rgba(231,184,14,100%)0%, rgba(23,23,78,100%)100%);
    color: var(--text);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2;
}

header {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    background-color: var(--yellow);
    border-style:outset;
    border-color: var(--darkblue);
    border-radius: 20px;
    border-width: 10px;
}

header h1 {
    text-indent: 50px;
    font-family: initial;
    font-size: 50px;
    background-color: var(--darkblue);
    padding: 10px 50px 10px 100px;
    border-right-style: solid;
    border-radius: 0px 10px 10px 0px;
    border-color: var(--darkblue);

}

nav {
    display: flex;
    flex-wrap:wrap;
    padding: 10px 50px 10px 100px;
    justify-content: space-between;
    color:white;
    font-weight: bolder;
}

nav a {
    padding: 20px;
    font-style: italic;
    font-family: initial;
    margin: 0;
    font-size: 30px;
    line-height: 1;
}

nav a:hover {
    background-size: 100px 100px;
    color:var(--darkblue);
}

.hero-banner {
    color: var(--yellow);
    display: flex;
    flex-wrap:wrap;
    justify-content:end;
    margin-right: 0px;
    /*background-image: url(../assets/images/waluigi.webp);*/
    background-image: url(https://wallpaperaccess.com/full/6944973.jpg);
    background-size:cover;
    background-position:center;
    min-height: 25vh;
    margin-top:5px;
    border-style:outset;
    border-radius:20px;
    border-width:5px;
    border-color: var(--yellow);
}

.hero-banner h2 {
    padding: 15px;
    background-color: var(--yellow);
    color:var(--darkblue);
    display: flex;
    flex-wrap: wrap;
    margin: 220px 10px 20px 0px;
    border-style:outset;
    border-color: var(--darkblue);
    border-radius: 20px;
    border-width: 10px;
}

h2 {
    font-style:italic;
    font-size:30px;
    font-family: initial;
    display: flex;
    flex-wrap: wrap;
    padding: 10px; 
}

.page-wrapper {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.page-section h2 {
    flex: 0 0 20%;
    font-size: 4vw;
    line-height: 1.1;
    text-align: right;
    justify-content: flex-end;
    border-right: solid 10px var(--yellow);

}

.page-section p {
    display: flex;
    margin:0;
    padding: 50px;
    border-left: 4px solid var(--darkblue);
}

.page-section ul {
    display: flex;
    list-style: none;
    gap:10em;
    margin:50px auto;
    font-size: 20px; 
    align-items:flex-end;   
}

.page-section ul :hover{
    color: var(--yellow);
    font-size: 25px;
    transform: scale(1);
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

  }
  
  .flex-item {
    border: 5px solid var(--yellow);
    color: var(--text);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-size: 150%;
    filter: grayscale(1);
    transition: 0.5s ease-in-out;
  }

  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
}

.flex-item div {
    background-color: var(--yellow);
    padding: 100px 10x;
    line-height: 1.5;
    border-style: outset;
    border-radius: 5px;
    border-color:var(--yellow);
}

.flex-item h3 {
  font-size: 30px;
  font-style: italic;
  margin: 0px;
  padding:15px;
}

.study-guide {
    display:flex;
    background-image: url(https://collegeinfogeek.com/wp-content/uploads/2018/11/Essential-Books.jpg);
    
}

.semantic-HTML {
    display: flex;
    background-image: url(https://images.ctfassets.net/lzny33ho1g45/learn-html-css-p-img/12978ef50623cf76538cfe18e1011fc5/file.png?w=1520&fm=jpg&q=30&fit=thumb&h=760); 
}
